@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navsubtext{
    font-family: 'Montserrat', sans-serif;
}
.navhead{
    font-family: 'Poppins', sans-serif;

}
.backdiv1{
    background-color: #cedde6;
    height: 700px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdiv2{
    background-color:white;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profcard{
  text-align: center;
  
  background-color: #e6f1f4;
  
  height: 525.8px;
  width: 375px;
  
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 10px;
  
}
.image{
    width: 250px;
}
.social{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}
.social a{
    color: black;
}
.backdiv2 p{
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
}

.footsocial{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    

}
.subhead{
    font-family: 'Montserrat', sans-serif;
}
.footer p{
    font-family: 'Montserrat', sans-serif;
}
.nav-item a{
    font-family: 'Montserrat', sans-serif;
}
